@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  margin: 0px auto;
  width: 75%;
}

.main {
  background-color: #FFD073;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}

.inner {
  background-color: #F3FD72;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 15px;
}

.content {
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
  height: 100px;
}

.comment {
  background-color: #F3FD72;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

.comment-content {
  background-color: #CBF76F;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
  display:inline-block;
  font-size: 150%;
}

section {
  overflow: auto;
}

textarea {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
	height: 200px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  font-size: 125%;
  margin-right: 10px;
}

a:hover {
  /*text-decoration: underline;*/
  text-color: blue;
  background-color: white;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30;
  font-weight: normal;
  color: #999;
}

h3  {
  text-align: center;
}

/* custom */

