<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey, <%= @post.name %></h1>
    <p>
      <%= @comment.commenter %> just added a new comment on your blog post <%= @post.title %><br/>
    </p>
    <p>
      You can check it out on the website!
    </p>
    <p>Have an awesome day!</p>
    <p>TK-blog team</p>
  </body>
</html>
