<% provide(:title, 'TODO') %>
<ol>
	<li><del>Mõtle välja andmebaasi tabelid</del></li>
	<li><del>Mõtle tabelitele fieldid</del></li>
	<li><del>Pane kategooriad homepage'le</del></li>
	<li><del>Pane kategooriate teemad iga kategooria alla</del></li>
	<li><del>Tee kategooriad/teemad klikitavaks</del></li>
	<li><del>Seo kategooriad teemadega 1..n, seo teemad postitustega 1..n</del></li>
	<li>Postituste paginatsioon</li>
	<li>Loo esialgsed seemned andmebaasi jaoks</li>
</ol>
