<% provide(:title, 'TODO') %>
<ol>
	<li>Mõtle välja andmebaasi tabelid</li>
	<li>Mõtle tabelitele fieldid</li>
	<li>Pane kategooriad homepage'le</li>
	<li>Pane kategooriate teemad iga kategooria alla</li>
	<li>Tee kategooriad/teemad klikitavaks</li>
	<li>Soe kategooriad teemadega 1..n, seo teemad postitustega 1..n</li>
	<li>Postituste paginatsioon</li>
	<li>Kasutajate seaded</li>
	<li>...</li>
</ol>