<% provide(:title, 'Log in') %>
<h1>Log in</h1>

<%= render "form" %>

<p>or</p>
<h1>Sign up</h1>

<p><%= button_to "Sign up!", sign_up_path, :method => :get, :class => "btn btn-primary btn-large" %></p>