<div class="main">  
  <h1> Terekest, Ruby Kursus! </h1>
  <h2> See blogi on loodud Tartu Ülikooli "Programmeerimine Ruby on Rails raamistikus" kursuse vahetööna </h2>
  <p> Ärge seda lehekülge liiga tõsisena võtke </p>
  <%= button_to "Vaata blogi postitusi", posts_path, {:method => :get} %>
</div>
