<p>
  <b>Commenter:</b>
  <%= comment.commenter %>
</p>

<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
  <%= check_box_tag "comment_ids[]", comment.id %>
</p>
