<div class="comment">
  <p>
    <b><%= comment.commenter %></b>
  </p>

  <div class="comment-content">
    <%= comment.body %>
  </div>

  <p>
    <%= link_to 'Kustuta', [comment.post, comment],
                 :confirm => 'Are you sure?',
                 :method => :delete %>
    <%= check_box_tag "comment_ids[]", comment.id %>
  </p>
</div>
