<% provide(:title, 'TK-Forum') %>
<table class="table table-bordered">
<% @categories.each do |cat| %>
	<tr class="info">
  	<td><strong><%= link_to cat.name, cat%></strong></td>
  </tr>
  <% cat.topics.sort_alpha.first(5).each do |tc| %>
    <tr>
  		<td><%= link_to tc.name, [cat, tc] %></td>
  	</tr>
  <% end %>
<% end %>
</table>
<%= button_to "Add new category", new_category_path, :method => :get, :class => 'btn pull-left margin-right5' if current_user && current_user.admin? %>
<%= button_to "View users", users_path, :method => :get, :class => 'btn' %>