<% provide(:title, @ctg.name) %>
<!--<%= button_to "Edit category", new_category_topic_path(@ctg), :method => :get, :class => 'btn' if current_user && current_user.admin? %>-->
<%= button_to "Add new topic", new_category_topic_path(@ctg), :method => :get, :class => 'btn' if current_user && current_user.admin? %>
<table class="table">
	<tr class="info">
  	<td><%= @ctg.name %></td>
  </tr>
</table>