<% provide(:title, @ctg.name) %>
<table class="table table-bordered table-striped">
	<tr class="info">
  	<% @ctg.topics.each do |tc| %>
    <tr>
  		<td><%= link_to tc.name, [@ctg, tc] %></td>
  	</tr>
  <% end %>
  </tr>
</table>
<% if current_user && current_user.admin? %>
  <%= button_to "Edit category", edit_category_path(@ctg), :method => :get, :class => 'btn'%>
  <%= button_to "Add new topic", new_category_topic_path(@ctg), :method => :get, :class => 'btn'%>
<% end %>